* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  margin: 0 auto;
  color: #fff;
  background-color: #000;
}

.account-info-sm {
  display: none;
  visibility: hidden;
}
.account-info-sm button {
  width: 40%;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: #949595;
  color: #fff;
  border: none;
  border-radius: 0.67em;
  cursor: pointer;
}
.account-info-sm button:hover {
  background-color: #307fe0;
}

.top-bar {
  width: 100%;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: solid #282626;
}
.top-bar .top-bar-left h2 {
  font-size: 1.8rem;
  font-family: "Dancing script", cursive;
  font-weight: bold;
  color: #fff;
  margin-left: 13rem;
}
.top-bar .top-bar-right {
  display: flex;
  gap: 1.5rem;
  margin-right: 13rem;
}
.top-bar .top-bar-right .signin-btn, .top-bar .top-bar-right .login-btn {
  padding: 0.5rem 1rem;
  background-color: #0095f6;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.top-bar .top-bar-right .signin-btn:hover, .top-bar .top-bar-right .login-btn:hover {
  background-color: #007bb5;
}

.container {
  display: flex;
  justify-content: center;
}
.container .profile-header {
  width: 70%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid #282626;
  background-color: #000;
  gap: 2rem;
}
.container .profile-header .profile-picture img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  color: black;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 0.125rem solid #151313;
}
.container .profile-header .header-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container .profile-header .header-content .account-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.container .profile-header .header-content .account-info h1 {
  font-family: "poppins", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.container .profile-header .header-content .account-info .verified-icon {
  color: #3897f0; 
  font-size: 1rem;
  margin-left: 0.5rem;
}
.container .profile-header .header-content .account-info button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 0.67em;
  cursor: pointer;
}
.container .profile-header .header-content .account-info button:hover {
  background-color: #307fe0;
}
.container .profile-header .header-content .account-stats {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  color: #fff;
}
.container .profile-header .header-content .account-stats div {
  font-size: 1rem;
}
.container .profile-header .header-content .account-stats div strong {
  font-weight: bold;
}
.container .profile-header .header-content .account-bio p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.main-section {
  width: 60%;
  margin: 0 auto;
  background-color: #000;
  text-align: center;
}
.main-section .tab-bar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.main-section .tab-bar .tab {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  color: #888;
}
.main-section .tab-bar .tab.active {
  color: #fff;
  font-weight: bold;
  border-top: 0.125rem solid #fff;
}
.main-section .tab-bar .tab:hover {
  color: #ccc;
}
.main-section .post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.main-section .post-grid .post-thumbnail {
  background-color: #222;
  border-radius: 0.5rem;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}
.main-section .post-grid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem; 
}
.main-section .post-grid .carousel-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  color: white;
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-bar .top-bar-left h2 {
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .top-bar .top-bar-right {
    justify-content: flex-start;
    margin-right: 0;
  }
  .account-info-sm {
    visibility: visible;
    display: block;
    text-align: center;
    margin-bottom: 1em;
  }
  .profile-header {
    border-bottom: none;
  }
  .container .profile-header .profile-picture img {
    width: 6rem;
    height: 6rem;
  }
  .container .profile-header .header-content .account-info {
    gap: 0.3rem;
    margin-left: -3em;
  }
  .container .profile-header .header-content .account-info h1 {
    font-family: "poppins", Arial, sans-serif;
    font-size: 1.2rem;
  }
  .container .profile-header .header-content .account-info button {
    display: none;
    visibility: hidden; 
  }
  .container .profile-header .header-content .account-stats {
    flex-direction: row;
    gap: 0.5rem;
  }
  .container .profile-header .header-content .account-stats div {
    flex-direction: column;
    text-align: center;
  }
  .container .profile-header .header-content .account-bio p {
    margin-left: -10em;
    margin-bottom: -5em;
    font-size: 0.875rem;
  }
  .main-section .tab-bar .tab {
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
  }
  .main-section .post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}